.footer-wrapper {
    background: black;
}

.footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.footer-right {
    display: flex;
    gap: 20px;
    color: white;
    font-weight: bold;
}